/*  25/04/10 再生回数テーブルをソートできるようにした  */
table, td, th { 
    font-family: "Meiryo UI" ; 
    font-size: 14px; 
    border: 1px #1C79C6 solid;  
    border-collapse: collapse; 
    padding: 3px; 
    margin-left: 70px;
}
table.rank {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
h1{
    text-align: center;
    margin: 0 0 0.5em;
    padding: 3px;
    font-size: 20px ;
    font-weight: bold;
}
h2{
    margin: 0 0 0.5em;
    padding: 3px;
    border-top: 3px double #1e90ff;
    border-bottom: 3px double #1e90ff;
    font-size: 16px ;
    font-weight: bold;
}
a { 
    text-decoration: none; 
}
th { 
    background-color :#47bcc6;
}
tr { 
    background-color : #ffffff;
}
tr:nth-child(2n+1) { 
    background-color : #ceedef;
}
tr:hover  { 
    background-color : #f4ffc9;
}
td.red  { 
    color : #ff0000 ; 
    font-weight : bold ;
}
td.right{ 
    text-align: right;
}
.flex {
    display: flex;
}
.frame { 
    background:linear-gradient(#bfd4f5, #307bf2) ; 
    margin-left: 3px; margin-top: 4px; margin-right: 3px; border: solid 1px #0000ff; 
    border-radius: 10px; 
}
span.red {
    color : red;
}
th.sorted-asc::after {
    content: " ▲";
}
th.sorted-desc::after {
    content: " ▼";
}
